*{
    margin: 0px;
    padding: 0px;
    font-family: 'Heebo';
}
.wrapper{   
    width:1152px;
    margin:auto;
}
.container{
    width:860px;
    margin:auto;
}
.header{
    margin-bottom: 140px;
    margin-top: 27px;
}
.menu{
    display:flex;
    justify-content:flex-end;
    margin-right:60px;
}
.menu__list-items{
    list-style-type:none;
    display:flex;
}
.menu__item{
    margin-right:37px;
}
.menu__link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}
.link__active{
    color:#FF6464;
}
.main__content{
    display:flex;
}
.main__text{
    margin-right: 115px;
}
.main__title{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px;
}
.main__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom:40px;
    width: 497px;
}
.main__link{
    box-sizing: border-box;
    text-decoration: none;
    background: #FF6464;
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    padding:15px 21px 17px 20px;
    display:inline-block;
    margin-bottom: 71px;
}
/* styles for section recent-post */
.recent-posts{
    background-color:#EDF7FA;
}
.recent-posts__header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top:25px;
    padding-bottom:25px;
}
.recent-posts__title{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    display: flex;
    align-items: flex-end;
    color: #21243D;
}
.recent-posts__link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
    text-decoration: none;
}
.recent-posts__posts{
    display:flex;
    justify-content:space-between;
}
.recent-post{
    box-sizing:border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    width:418px;
    height:295px;
    padding:24px 46px 35px 23px;
    margin-bottom: 32px;
}
.recent-post__title{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-bottom:17px;
}
.recent-post__info{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:21px;
}
.recent-post__date,.recent-post__theme-post{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}
.recent-post__date{
    margin-right:30px;
}
.recent-post__theme-post{
    margin-left: 30px;
}
.recent-post__post-describe{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
/* styles for section featured-works */
.featured-works{
    display:flex;
    flex-direction:column;
    margin-bottom: 83px;
}
.featured-works__title{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin-top:16px;
}
.feaured-works__work-block{
    display:flex;
    margin-top:50px;
}
.featured-works__image{
    margin-right: 18px;
}
.featured-work__title{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-bottom:20px;
}
.featured-works__info{
    display:flex;
    align-items: center;
    margin-bottom:20px;
}
.featured-woks__date{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    text-decoration: none;
    box-sizing: border-box;
    padding:5px 10px 7px 10px;
    display:inline-block;
    margin-right:26px;
}
.featured-works__theme{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    text-decoration: none;
}
.featured-works__text-describe{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    width:560px;
}
/* styles for footer */
.soc__list-items{
    list-style-type:none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-bottom:30px;
}
.soc__item{
    margin-right:35px;
}
.copyright-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
    margin-bottom: 54px;
}
/* styles for page works */
.works__title,.blog__title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 50px;
}
.featured-works__text-describe{
    width:370px;
}
/* style for page blog */
.blog__event-title{
    font-style: normal;
    font-weight:600;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    font-family:'Heebo';
}
.blog__event-block{
    margin-bottom: 50px;
}
.event-info{
    margin-top: 18px;
    margin-bottom:25px;
}
.recent-post__theme-post{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.event__text-describe{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}



/* adaptive styles css */
@media screen and (max-width:1000px){
    .wrapper{
        width:380px;
        margin:auto;
    }
    .container{
        width:350px;
        margin:auto;
    }
    .menu__list-items{
        display:none;
    }
    .burger-menu{
        display:flex;
        flex-direction:column;
    }
    .burger-line{
        border:1px solid black;
        width:28px;
        margin-bottom:5px;
    }
    .main__content{
        display:flex;
        flex-direction:column-reverse;
        text-align: center;
        margin:auto;
        margin-top: -100px;
    }
    .main__text{
        display:flex;
        flex-direction:column;
        width: 350px;
    }
    .main__title{
        margin-top:44px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #21243D;
        width:280px;
        margin:auto;
        margin-top:50px;
        margin-bottom:50px;
    }
    .main__subtitle{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        width: 320px;
        margin-left:-10px;
        margin:auto;
        margin-bottom:50px;
    }
    .main__link{
        width: 220px;
        height: 47px;
        padding-bottom:45px;
        margin:auto;
        text-align: center;
        margin-left:50px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        margin-bottom: 50px;
    }
    /* style for section recent posts */
    .recent-posts__header{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .recent-posts__title{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 60px;
        display: flex;
        align-items: flex-end;
        color: #21243D;
    }
    .recent-posts__link{
        display:none;
    }
    .recent-posts__posts{
        display:flex;
        flex-direction:column;
    }
    .recent-post{
        width:350px;
    }
    .recent-post__title{
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: #21243D;
        width: 327px;
    }
    .recent-post__info{
        width:290px;
    }
    .recent-post__date{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #21243D;
        width:89px;
    }
    .recent-post__theme-post{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #21243D;
    }
    .recent-post__post-describe{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #21243D;
        width: 314px;
    }
    /* styles for section featured-works */
    .featured-works-img{
        width: 340px;
        height: 230px;
    }
    .featured-works__title{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 60px;
        color: #21243D;
        text-align: center;
        width:124px;
        margin:auto;
        margin-top:25px;
    }
    .featured-works__content{
        display:flex;
        flex-direction:column;
        text-align: center;
    }
    .feaured-works__work-block{
        display:flex;
        flex-direction:column;
    }
    .featured-work__title{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #21243D;
        margin-top:20px;
        margin-left:-80px;
    }
    .featured-works__info{
        margin-left:10px;
    }
    .featured-woks__date{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        color:#FFFFFF;
        height:25px;
        width:56px;
    }
    .featured-works__theme{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8695A4;
    }
    .featured-works__text-describe{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #21243D;
        width:340px;
        text-align:left;
        margin-left:10px;
    }
}